<!-- Content Center -->
<div class="panel col-sm-12" id="centerContainner">
    <!-- Bar of Phone Band -->
    <div class="row" ng-controller="phoneMenuController">
        <div id="band_tab" style="margin-top:-19px; margin-left: 0px;">
            <center>
                <button class="phoneType" ng-click="iPhoneClick()">iPhone</button>
                <button class="phoneType" ng-click="SamsungClick()">Samsung</button>
                <button class="phoneType active" ng-click="HTCClick()">HTC</button>
                <button class="phoneType" ng-click="OPPOClick()">Oppo</button>
            </center>
        </div>
    </div>
    <!-- End Bar of Phone Band -->
    <div class="row">
        <div class="col-sm-12">
            <div id="recommendList">
                </br>
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__supporting-text" id="item_list">
                        <label class="head_description">
                            HTC Product(s).</label>
                        <!-- <button ng-click="addToCart()"></button> -->
                        </br>
                        <div ng-repeat="htc in allHTC">
                            <div class="col-sm-6 col-md-4">
                                </br>
                                <div class="thumbnail">
                                    <img src="{{htc.Image}}">
                                    <div class="caption">
                                        <h4>{{htc.Model}}</h4>
                                        <p style="color:#797979;">
                                            - Display: {{htc.DisplaySize}}</br>
                                            - OS: {{htc.OS}}</br>
                                            - Brand: {{htc.Brand}}</br>
                                            - Kind of Using: {{htc.PhoneType}}</br>
                                        </p>
                                        <p>Price: {{htc.SellingPrice}} BTH</p>
                                        <p>
                                            <button class="mdl-button mdl-js-button mdl-button--accent myCart"
                                            ng-click="addToCart_HTC($index)">
                                                <font face="barid">ADD TO CART&nbsp;&nbsp;<i class="glyphicon glyphicon-shopping-cart"></i></font>
                                            </button>
                                            <button class="btn btn-default" ng-click="HTC_detail_commend($index,'HTC')">More detail...</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Detail Modal -->
    <font face="barid">
        <div class="modal fade" id="HTC_detail_modal" role="dialog">
            <div class="modal-dialog" id="cart_mm">
                <!-- Modal content of Carting....-->
                <div class="modal-content s">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><font face="barid">{{HTCItemDetail.Model}}</font></h4>
                    </div>
                    <div class="modal-body">
                        <table width="70%">
                            <td>
                                <center>
                                    <img src="{{HTCItemDetail.Image}}" width="270px" height="150px">
                                    <br>
                                    <h3><font face="barid">{{HTCItemDetail.Model}}</font></h3>
                                    <h4><font face="barid">{{HTCItemDetail.SellingPrice}} BTH.</font></h4>
                                </center>
                            </td>
                            <td>
                                - Display: {{HTCItemDetail.DisplaySize}}</br>
                                - OS: {{HTCItemDetail.OS}}</br>
                                - Brand: {{HTCItemDetail.Brand}}</br>
                                - Kind of Using: {{HTCItemDetail.PhoneType}}</br>
                                </br>
                                </br>
                                - Other Detail</br>
                                <div ng-repeat="dd in HTCItemDetail.Description">
                                    - {{dd.detail}}
                                </div>
                            </td>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="mdl-button mdl-js-button mdl-button--accent myCart" ng-click="addToCart_Detail('HTC')">
                            <font face="barid">Add to cart&nbsp;&nbsp;<i class="glyphicon glyphicon-shopping-cart"></i></font>
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:30px;">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </font>
    <!-- List of Recommend List [Use Ng-Repeat]-->
</div>
<!-- End Content -->